h1{
   position: relative;
    text-align: center;
    font-size: 50px;
}

div{
    margin: auto;
    width: 50%;
}

input[type=submit]{
    width: 200px;
    height: 100px;
    text-align: center;
    display: block;
    margin: auto;
}